export(addIndic)
export(affect_rand)
exportClasses(Converge)
exportClasses(GlmCluster)
exportClasses(KmlCovList)
export(getNomCoef)
export(glmClust)
export(kmlCov)
export(log_lik)
export(majIndica)
exportMethods(plot)
exportMethods(show)
export(predict_clust)
export(rwFormula)
export(seperateFormula)
export(which_best)
